<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/stylejohan.css">
    <title>Home Page</title>
</head>
<body>
    </br>
    </br>
    </br>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST" id="form" action="/enviarInfo">
                    <fieldset>
                        <b><legend class="text-center header" style="color:rgba(65, 142, 194, 0.993)">¡¡REGISTRATE!!</legend></b>
                         
                        <div class="form-group">
                             <div class="col-md-3">
                               <b> <label id="name" style="border: 1px solid #f00" >NOMBRE :</label></b>
                            </div>
                            <div class="col-md-11">
                                <input id="fname" name="nombre" type="text" placeholder="Escriba su nombre" class="form-control" value="{{persona.nombre}}">
                            </div>
                        </div>
                        <div class="form-group">
                             <div class="col-md-3">
                                <label id="apellido" >APELLIDO :</label>
                            </div>
                            <div class="col-md-11">
                                <input id="txtApellido" name="apellido" type="text" placeholder="Escriba su apellido" class="form-control" value="{{persona.apellido}}">
                            </div>
                        </div>
                        <div class="form-group">
                             <div class="col-md-3">
                                <label id="correo1" >CORREO :</label>
                            </div>
                            <div class="col-md-11">
                                <input id="txtCorreo" name="correo" type="text" placeholder="Escriba su correo" class="form-control" value="{{persona.correo}}">
                            </div>
                        </div>
                        <div class="form-group">
                             <div class="col-md-3">
                                <label id="usuario" >USUARIO:</label>
                            </div>
                            <div class="col-md-11">
                                <input id="txtUsuario" name="usuario" type="text" placeholder="Escriba su nombre de usuario" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                             <div class="col-md-3">
                                <label id="contrasena" value="{{persona.passwd}}">CONTRASEÑA:</label>
                            </div>
                            <div class="col-md-11">
                                <input id="txtcontasena" name="paswd" type="password" placeholder="Escriba su contraseña" class="form-control">
                            </div>
                        </div>
                       
                        

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="Assets/js/bootstrap.min.js"></script>

</body>
</html>