* {box-sizing: border-box}

/* Full-width input fields */
#modal1 input[type=text],#modal1 input[type=password] {
  width: 100%;
  padding: 9px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: center
}

#modal1 input[type=text]:focus, #modal1 input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  
}

#modal1 hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
p{
  text-align: center
}

/* Set a style for all buttons */
#modal1 button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#modal1 button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
#modal1 .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
#modal1 .cancelbtn,#modal1 .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
#modal1 .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  #modal1 .cancelbtn, #modal1 .signupbtn {
    width: 100%;
  }
}














#modal2 input[type=text],#modal2 input[type=password] {
  width: 100%;
  padding: 9px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: center
}

#modal2 input[type=text]:focus, #modal2 input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  
}

#modal2 hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
p{
  text-align: center
}

/* Set a style for all buttons */
#modal2 button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#modal2 button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
#modal2 .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
#modal2 .cancelbtn,#modal2 .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
#modal2 .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  #modal2 .cancelbtn, #modal2 .signupbtn {
    width: 100%;
  }
}